{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
      <div class="list-group">
          <a href="" class="list-group-item
          list-group-item-action" aria-current="true">All Mobile</a>
          <a href="" class="list-group-item
          list-group-item-action" aria-current="true">Redmi</a>
          <a href="" class="list-group-item
          list-group-item-action" aria-current="true">Samsung</a>
          <a href="" class="list-group-item
          list-group-item-action" aria-current="true">below 10000</a>
          <a href="" class="list-group-item
          list-group-item-action" aria-current="true">Above 10000</a>
      </div>
  </div>
  <div class="col-sm-8">
  <div class="row">
      {% for fb in food %} 
      <div class="col-sm-4 text-center mb-4">
          <a href="{% url 'foodabout' %}" class="btn">
              <div class="item">
                  <img src="{{fb.food_image.url}} " alt="" height="300" class="">
                  <div class="fw-bold">{{fb.food_title}}</div>
                  <div class="fw-bold">Rs. {{fb.dicount_price}} </div>
                  <small class="fw-light text-decoration-line-through">
                      {{fb.food_price}}
                  </small>
              </div>
           </a>
      </div>
      {% endfor %}
  </div>
  </div>
 </div>
</div>
{% endblock main-content %}