{% extends 'user/base.html' %}
{% block body %}
<div class="container mt-5">
    <h1 class="alert alert-primary">Login </h1>

    {% if text %}
    <div class="alert alert-danger">{{text}}</div>
    {% endif %}
    <form class="form-group" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input  class="form-control boder-4" type="text" name="username" placeholder="Username"><br><br>
        <input class="form-control" type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" value="login" class="btn btn-info">
    </form>
</div>
{% endblock %}